<div class="mainHeader">
    <div>
        <h2 class="mainHeaderTitle">{{selectedSourceTitle.toUpperCase()}}</h2>
    </div>
    <hr>
    <div class="flxRow container">
        <div class="l-1">
                <select (change)="onSelectSource($event.target.value)" [(ngModel)]="selectedSourceTitle" name="sourceLstBox">
                        <option *ngFor="let source of categories" [value]= 'source' >{{source}}</option>
                </select>
                <!-- You selected : {{selectedSourceTitle}} -->
        </div>
        <div class="btnAddArticle">
            <button *ngIf="adminFlag == true" class="btn btn-primary" routerLink='/NewArticle'>Add Article</button>
        </div>
        <!-- <button  *ngIf="adminFlag == true" class="btn btn-primary">Admin Menu</button> -->
        <!-- <p *ngIf="adminFlag">Show this only if "show" is true</p> -->
    </div>
    <hr>
</div>