/* Header */
.titleMain {
    background: rgb(4, 47, 97);
    color: white;
    height: 80px;
    margin: 0px; 
    line-height: 80px;
}

.titleHeading {
    float: left;
    margin: 0 0 0 20px;
}

.titleDesc {
    float: left;
    margin: 0 0 0 30px;
}
